{% extends 'base.html' %}
{% load tz %}

{% block content %}
    <div class="bg-white shadow p-8">
        <h2 class="text-2xl mb-4">User Profile</h2>
        <div class="mb-4">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Meter Number:</strong> {{ user.meter_number }}</p>
            <p><strong>Address:</strong> {{ user.address }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
        </div>

        <h2 class="text-2xl mt-8 mb-4">Water Purchases</h2>
        {% if purchases %}
            <table class="border-collapse border border-gray-300 mt-4">
                <thead>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2">Transaction ID</th>
                        <th class="border border-gray-300 px-4 py-2">Transaction Date</th>
                        <th class="border border-gray-300 px-4 py-2">Units Purchased</th>
                        <th class="border border-gray-300 px-4 py-2">Amount Paid</th>
                        <th class="border border-gray-300 px-4 py-2">Token</th>
                        <th class="border border-gray-300 px-4 py-2">Tax</th>
                        <th class="border border-gray-300 px-4 py-2">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in purchases %}
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">{{ purchase.id }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ purchase.purchase_date|timezone:"Africa/Johannesburg" }}</td>
                            <td class="border border-gray-300 px-4 py-2">KL {{ purchase.units_purchased }}</td>
                            <td class="border border-gray-300 px-4 py-2">R{{ purchase.amount_paid }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ purchase.token}}</td>
                            <td class="border border-gray-300 px-4 py-2">R{{ purchase.vat }}</td>
                            <td class="border border-gray-300 px-4 py-2">R{{ purchase.total_value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No water purchases yet.</p>
        {% endif %}
    </div>
{% endblock %}
