{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center">
        <form class="w-full max-w-sm bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">
            {% csrf_token %}
            <h2 class="messages text-2xl font-bold mb-6">Sign Up</h2>
            {% for field in form %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-red-700 text-xs mt-1">{{ field.errors|join:", " }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
{% endblock %}
